<mat-toolbar>
	<button mat-raised-button routerLink="/top/2017/year" (click)="display='top'">部署比較</button>
	<button mat-raised-button routerLink="/analysis/2017/half/department/d00001:" (click)="display='analysis'">分析</button>
</mat-toolbar>
<mat-drawer-container class="contents">
	<mat-drawer class="side_content" mode="side" opened="true">
		<div [ngSwitch]="display">
			<div *ngSwitchCase="'top'">
				<app-side-nav></app-side-nav>
			</div>
			<div *ngSwitchCase="'analysis'">
				<app-left-nav></app-left-nav>
			</div>
		</div>
	</mat-drawer>
	<mat-drawer-content class="main_content">
		<router-outlet></router-outlet>
	</mat-drawer-content>
</mat-drawer-container>
