<mat-form-field class="side_item_margin">
	<mat-select placeholder="年度" [(value)]="term">
		<mat-option *ngFor="let year of years" [value]="years">
			{{ year }}
		</mat-option>
	</mat-select>
</mat-form-field>
<br/>
<mat-radio-group [(ngModel)]="period">
	<mat-radio-button class="side_item_margin" value="half">半期ごと</mat-radio-button>
	<mat-radio-button class="side_item_margin" value="quarter">四半期ごと</mat-radio-button>
</mat-radio-group>
<br/>
<mat-radio-group [(ngModel)]="class">
	<mat-radio-button class="side_item_margin" value="department">部署</mat-radio-button>
	<mat-radio-button class="side_item_margin" value="user">個人</mat-radio-button>
</mat-radio-group>
<div *ngIf="class=='department'">
		<div class="analysis_tab_wrapper">
			<div *ngFor="let department of departments">
				<mat-checkbox class="side_item_margin" [(ngModel)]="department.selected" [disabled]="department.disabled" (change)="dchanged()">{{ department.value }}</mat-checkbox>
			</div>
			<br/>
		</div>
	</div>
<div *ngIf="class=='user'">
		<div class="analysis_tab_wrapper">
			<div *ngFor="let user of users">
				<mat-checkbox class="side_item_margin" [(ngModel)]="user.selected" [disabled]="user.disabled" (change)="uchanged()">{{ user.value }}</mat-checkbox>
			</div>
			<!--
			<mat-accordion>
				<div *ngFor="let department of departments">
					<mat-expansion-panel>
						<mat-expansion-panel-header>
							<mat-panel-title>
								{{ department.value }}
							</mat-panel-title>
						</mat-expansion-panel-header>
						<div *ngFor="let user of users">
							<mat-checkbox>{{ user.value }}</mat-checkbox>
							<br/>
						</div>
					</mat-expansion-panel>
				</div>
			</mat-accordion>
		-->
		</div>
</div>
<div class="side_item_margin">
	<button mat-raised-button (click)="display(this.target)">表示</button>
</div>
